body {
    font-family: Arial, sans-serif;
    background-color: rgb(211, 236, 245);
    display: flex;
    flex-direction: column;
    min-height: 160vh;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
i {
    font-size: 40px;
    cursor: pointer;
    position: fixed;
    top: 10px;
    right: 10px;
}
header {
    background-color: rgb(9, 30, 66);
    color: white;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

header h1 {
    margin: 0;
}



main {
    flex: 1;
    padding: 10px;
    max-width: 400px;
    margin: 20px auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

main h2 {
    margin-top: 0;
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    margin-top: 0px;
    color: #333;
}

form input[type="text"],
form input[type="password"],
form input[type="email"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

form input[type="submit"],
form button {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form input[type="submit"]:hover,
form button:hover {
    background-color: #555;
}



footer {
    background-color: rgb(9, 30, 66);
    color: white;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
}
footer a {
    color: white;
    text-decoration: none;
    padding: 5px 30px;
    position: fixed;
    float: left;
    margin: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
    background-color: #555;
    border-radius: 5px;
    transition: background-color 0.3s;
}

footer a:hover {
    background-color: #777;
}