body {
    font-family: Arial;
    margin: 0;
    padding: 0;
    background-color: rgb(211, 236, 245);
    color: #020202;
    overflow-x: hidden;
    overflow-y: scroll;
}

i {
    font-size: 40px;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
}

header,
section {
    text-align: center;
}

footer {
    background-color: rgb(9, 30, 66);
    color: white;
    text-align: center;
    position: fixed;
    height: 50px;
    bottom: 0px;
    margin-top: 10px;
    width: 100%;
}

/** NAVBAR */
nav {
    background: rgb(9, 30, 66);
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

label.logo {
    color: rgb(8, 217, 207);
    font-size: 35px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    margin-right: 160px;
}

nav ul li {
    display: inline-block;
    margin: 0px 60px;
    position: relative;
}

nav ul li a {

    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 15px;
    height: 100%;
    color: white;

    width: 100%;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ffffff;
    transition: 2px;
}

nav ul li ul.dropdown {
    width: 186px;
    /* Adjust width as necessary */
    background: rgb(8, 217, 207);
    position: absolute;
    left: 0;
    display: none;
    text-align: center;
    /* Center the text */
    padding: 0;
    margin: 0;
}

nav ul li ul.dropdown li {
    display: block;
    margin: auto;
    /* Add padding to dropdown items */
}

nav ul li:hover .dropdown {
    display: block;
}

nav ul li a:hover {
    background: #000021;
    color: #fff;
}

nav ul li ul.dropdown li a {
    display: block;
    width: 84%;
    /* Adjust padding as necessary */

    margin: 0;
}

/* Additional Styles */
.accordion {
    width: 80%;
    margin: 0 auto;
}

.accordion-item {
    margin: 10px 0;
}

.accordion-header {
    background-color: #f1f1f1;
    cursor: pointer;
    padding: 10px;
    border: none;
    outline: none;
    width: 100%;
    text-align: left;
    font-size: 18px;
}

.accordion-content {
    display: none;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ccc;
}

.signup_button {
    width: 60px;
    height: 50px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: blueviolet;
    border: 1px solid black;
    padding: 10px;
    border-radius: 5px;
    transition: 1s;
}

.signup_button:hover {
    color: rgb(255, 255, 255);
    transition: 1s;
    background-color: rgb(121, 66, 172);
}