body {
    font-family: Arial;
    background-color: rgb(211, 236, 245);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    color: #020202;
}

.signup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-container h2 {
    margin-top: 0;
    text-align: center;
}

.signup-container form {
    width: 100%;
}

.signup-row {
    display: flex;
    justify-content: space-between;
}

.signup-row label {
    display: block;
    margin-bottom: 5px;
    width: 48%;
}

.signup-row input[type="text"],
.signup-row input[type="password"],
.signup-row input[type="email"] {
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.signup-container input[type="checkbox"] {
    margin-right: 5px;
}

.signup-container input[type="submit"] {
    width: 100px;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.signup-container input[type="submit"]:hover {
    background-color: #555;
}

.insert {
    color: rgb(64, 255, 0);
    font-size: 1em;
    text-align: center;
    position: relative;
    margin-bottom: 10px;
}

#goback {
    background-color: #555;
    border-radius: 5px;
    bottom: 0;
    color: white;
    float: right;
    margin: 10px;
    padding: 5px 30px;
    position: absolute;
    text-decoration: none;
    transition: background-color 0.3s;
}

#goback:hover {
    background-color: #777;
}